$def with (rows, header, footer)
<html>
	<head>
		<title>DOPA Web Services Manager</title>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css" />
	</head> 
	<body>
		$:header
		$if rows:
			<table class="table" cellspacing="0"><tr><th>id</th><th>pid</th><th>species_id</th><th>message</th><th>ts</th></tr>
			$for row in rows:
				<tr><td>$row[0]</td><td>$row[1]</td><td>$row[2]</td><td>$row[3]</td><td>$row[4]</td></tr>
			</table>
		$else:
		    <p>No content</p>
		$:footer
	</body>
</html>