$def with (header, footer)
<html>
		$:header
		<div style="margin: 20px">
			<a><h2>DOPA REST Services Directory Terms and Conditions</h2></a>
			<p>
				The web services presented here use data provided by third party sources including IUCN (Red List of Threatened Species Data), UNEP-WCMC (World Database of Protected Areas), WWF (Global 200 Ecoregions). This input is gratefully acknowledged. The web services do not provide access to the original reference datasets available from their respective sources – users wishing to download the original data are invited to consult the authoritative sources as follows, where the relevant terms and conditions of use are also available :
			</p>
			<ul>
				<li>
					World Database of Protected Areas - <a href='http://www.protectedplanet.net/'>http://www.protectedplanet.net/</a>
				</li>
			</ul>

			<ul>
				<li>
					IUCN Red List of Threatened Species - <a href='http://www.iucnredlist.org/technical-documents/spatial-data/'>http://www.iucnredlist.org/technical-documents/spatial-data</a>
				</li>
			</ul>

			<ul>
				<li>
					WWF Global 200 Ecoregions - <a href='http://worldwildlife.org/publications/global-200'>http://worldwildlife.org/publications/global-200</a>
				</li>
			</ul>
			<p>
				The information on this site is subject to a <a href='http://ec.europa.eu/geninfo/legal_notices_en.htm#disclaimer'>disclaimer</a>, a <a href='http://ec.europa.eu/geninfo/legal_notices_en.htm#copyright'>copyright notice</a> rules related to <a href='http://ec.europa.eu/geninfo/legal_notices_en.htm#personaldata'>personal data protection</a> and <a href='http://ec.europa.eu/geninfo/legal_notices_en.htm#cookies'>cookies</a>.
			</p>
		</div>
		$:footer
	</body>
</html>